@model PeopleViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <h2>@ViewBag.Title</h2>
    <br />
    <h4>Ramya TK WebAppAssignmentMVC Using AJAX</h4>

    <input type="button" value="People" id="All" />
    <input id="input" type="number" />
    <input type="button" value="Details" id="Findby" />
    <input type="button" value="Delete" id="Delete" />

    <div id=""environment-container"></div>

    <script>
        $("#All").click(function(){
            var url = "Ajax/PeoplePartial";
            $.get(url,function (data){
                $("#enviroment-container").html(data);
            });
        });


            $("#Findby").click(function(){
            var url = "Ajax/PeoplePartial/" + document.getElementById("input").value;
            $.post(url,function (data){
                $("#enviroment-container").html(data);
            });
        });

             $("#Delete").click(function(){
            var url = "Ajax/Delete/" + document.getElementById("input").value;
            $.post(url,function (data){
                $("#enviroment-container").html(data);
            });
        });

    </script>

     <div>
        <table class="table table-dark">
            <thead>

                <tr>
                    <th>NAME</th>
                    <th>PhoneNumber </th>
                    <th>City </th>
                    <th>Options </th>
                </tr>
                <tr>
                    <th>@Model.SearchResultEmpty</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.PeopleListView)
                {
                    <tr>
                        <td>@item.PersonName</td>
                        <td>@item.PersonPhoneNumber</td>
                        <td>@item.PersonCity</td>
                        <td><a href="#" onClick="location.href='@Url.Action("DeletePerson", "People", new { id = @item.PersonId })'">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>





